@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.beigeBg {
    background-color: #f3eae3;
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
}
.card {
    border-radius: 10px;
    display: flex;
    height: fit-content;
    width: 600px;
    background-color: white;
    margin-left: 80px;   
}
.perfumeImg {
    background-image: url('resources/images/image-product.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(55%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.perfumeDetails {
    padding: 2em;
    width: calc(45%);
}
.perfumeDetails h4 {
    letter-spacing: 0.6em;
}
.perfumeDetails p {
    letter-spacing: 0.1px;
}
.priceTag {
    display: flex;
    align-items: center;
}
.priceTag h1 {
    color: #3d8168;
    margin-right: 20px;
}
.priceTag p {
    text-decoration: line-through #a2a2ab;
}
.classyFont {
    font-family: 'DM Serif Display', serif;
}
.priceTag h1 {
    color: #3d8168;
}
.greyedOut {
    color: #a2a2ab;
}
button {
    background-color: #3d8168;
    padding: 16px 35px;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    cursor: pointer;
}
button i {
    margin-right: 9px;
}
.normalFont {
    font-family: 'Plus Jakarta Sans', sans-serif;
}